[project]
name = "pyparsec"
version = "0.1.0"
description = "A Python parser combinator library inspired by Haskell's Parsec."
readme = "README.md"
requires-python = ">=3.8"
license = { text = "MIT" }
authors = [
    { name = "khengari77", email = "khengari77@gmail.com" }
]
keywords = ["parser", "combinators", "parsing"]
urls = { Repository = "https://github.com/khengari77/PyParsec" }

dependencies = []

[project.optional-dependencies]
examples = [
    "pipe @ git+https://github.com/khengari77/Pipe.git@main"
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = ["pyparsec"]

# This section is required to allow git dependencies
[tool.hatch.metadata]
allow-direct-references = true

# UV specific configuration for development dependencies
[dependency-groups]
dev = [
    "hypothesis>=6.113.0",
    "pytest>=8.3.5",
    "asv>=0.6.4"
]
